body{
    font-family: 'Hind', sans-serif;

    font-weight: 400;

    min-height: 100vh;
    margin: 0; padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
}

html {
    scroll-behavior: smooth; 
    color: rgb(78, 90, 90);
    background-color: #bbeab6;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    transition: .3s;
    color: #8535d1;
    transition: color 0.5s;
}

.nav-link:hover {
    color: rgb(78, 90, 90);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}
  
.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}

.section-title {
    font-family: 'Montserrat', sans-serif;

    font-size: 20px;
    font-weight: 400;
    
    letter-spacing: 3px;
    color: #8535d1;
}
  
.avatar {
    border-radius: 190px;
}

.link-course {
    width: 10%;
}

footer {
    margin: 0 0 0.2% 43%;
}

footer a {
    font-family: 'Montserrat', sans-serif;

    font-size: 20px;
    
    text-decoration: none;
    letter-spacing: normal;
    color: #000000;
}

.example {
    border: 3px solid lightgrey;
    padding: 1px 3%;
    background-color: whitesmoke;
    border-radius:10px;
    width:200px;
}

.project-link {
    display: inline;
    text-decoration: none;
    color: #4f87ee;
}
